 /* Gris claro personalizado */
.custom-light-gray {
	color: #d3d3d3;
}
/* Margen laterales */
.mx-6{
	margin-right: 50px;
 	margin-left: 50px;
}
/* borde inferior mas grueso */
.border-bottom-grueso {
	border-bottom: 2px solid black;
	transition: border 0.3s ease;
}
.overlay-div{
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	height: 600px;
}